
<div data-ng-controller="CoursesController as cc" data-ng-init="findOne()" id = "course" >
    <md-content class="md-padding"  layout="column">
		<md-card style="border:3px pink solid;">
			<md-card-title>
				<md-card-title-media>
				<div layout="row" layout-align="center">
				<div class="md-media-lg card-media"> <img id="one" class="md-user" src="pes.jpg"></div>
				<md-divider style="padding-left:1px;background-color:white;">	</md-divider>
				</div>
				</md-card-title-media>
				
				<md-card-title-text >
				<span layout="row" id="four">
				<span class="md-headline">{{course.organization.name}}</span>
				<div layout="row" style="padding-left:480px;">
							<md-button class="md-icon-button" aria-label="Favorite">
								<ng-md-icon icon="facebook-box" style="fill:blue" size="25"></ng-md-icon>
							</md-button>
							<md-button class="md-icon-button" aria-label="Favorite">
								<ng-md-icon icon="twitter" style="fill:skyblue" size="25"></ng-md-icon>
							</md-button>
							<md-button class="md-icon-button" aria-label="Favorite">
								<ng-md-icon icon="linkedin-box" style="fill:green" size="25"></ng-md-icon>
							</md-button>
							<md-button class="md-icon-button" aria-label="Favorite">
								<ng-md-icon icon="group_add" style="fill:red;" size="25"></ng-md-icon>
							</md-button>
							
				</div>
				</span>
				<span id = "four" class="md-subhead">Bull Temple Road,Bangalore,karnataka</span>
				<md-divider ></md-divider>
				<p flex="80"><span style="color:red;">Board</span>:{{course.organization[0].degrees[0].syllabus[0].name}}<br><span style="color:red;">Genre</span>: {{course.organization.degrees[0].syllabus[0].genre}}<br><span style="color:red;">Medium</span>:{{course.organization.degrees[0].syllabus[0].medium}}<br><span style="color:red;">Student</span>:{{course.organization.degrees[0].level}}</p>
	
				</md-card-title-text>
			  
			</md-card-title>
		</md-card>
		<md-card style="border:3px pink solid;">
				<md-tabs md-dynamic-height md-border-bottom  layout-fill class="md-accent">
				<md-tab label={{course.organization.degrees[0].syllabus[0].parts[0].name}}>
					<md-content class="md-padding">
							<ul  >
							
							<div ng-repeat="music in course.organization.degrees[0].syllabus[0].parts[0].chapters">
							 <div id ="two" layout="row">
							 <div flex="5" style="padding-left:15px;padding-top:3px;">{{music.number}}</div>
							 <div  ng-click="mus = !mus" flex="90" style="background-color:DimGrey;color:white">{{music.name}}</div>
							 <div flex="5" ng-hide="!mus"><ng-md-icon icon="remove" style="fill:white" size="25"></ng-md-icon></div>
							 <div flex="5" ng-show="!mus"><ng-md-icon icon="add" style="fill:white" size="25"></ng-md-icon></div>
							 <div flex="2"><ng-md-icon icon="file_download" style="fill:white" size="25"></ng-md-icon></div>
							</div>
							<div ng-show="mus">
								<div  ng-repeat="procedure in music.sections" layout="row">
									<div id="three" ng-click="showDetails = ! showDetails">
										<div layout="row">
											<div flex="100">
											{{procedure.name}}
											</div>
											<div flex="5" ng-hide="!showDetails">-</div>
											<div flex="5" ng-show="!showDetails">+</div>
										</div>
										<br>
										<div ng-repeat="i in getLength(procedure.subsections)" layout="row">
<!--
											 <div   ng-show="showDetails">
											<md-button  style="width:200px;background-color:Purple;color:white" class="md-raised  md-cornered">{{i.name}}</md-button>
										   </div>  
-->
										<div  id="btn" ng-repeat = "name in procedure.subsections.slice(i,i+4)" layout="row" >
										 <div   ng-show="showDetails">
											<md-button  style="width:200px;background-color:Purple;color:white" class="md-raised  md-cornered">{{name.name}}</md-button>
										   </div> 
										</div>
										</div>
									</div>
								</div>
							</div>
							</div>
						</ul>
						</md-content>
				<div id="last">
					<md-card style="background-color:black;">
					<md-card-content>
					 <div layout="column">
					<div layout="column" >
					<div style="color:Maroon;font-family:Arial;padding-bottom:10px;" layout="row" layout-align="space around">
						<span>lorem ipsum color sit amet,consectetur<br> adipiscing elit.</span>
						<span>lorem ipsum color sit amet,consectetur<br> adipiscing elit.</span>
						<span>lorem ipsum color sit amet,consectetur<br> adipiscing elit.</span>
					</div>
					<md-divider style="background-color:Maroon;"> </md-divider>
					</div>
					<div style="color:SeaShell ;font-family:Arial;padding-top:10px;padding-bottom:15px;" layout="row" layout-align="space around">
						<span>lorem ipsum color sit amet,consectetur<br> adipiscing elit. Aeneon commodo ligula eget<br> dolor.Aeneon massa.Cum socils natoque<br>penatibus etmagnis dis partu</span>
						<span>lorem ipsum color sit amet,consectetur<br> adipiscing elit. Aeneon commodo ligula eget<br> dolor.Aeneon massa.Cum socils natoque<br>penatibus etmagnis dis partu</span>
						<span>lorem ipsum color sit amet,consectetur<br> adipiscing elit. Aeneon commodo ligula eget<br> dolor.Aeneon massa.Cum socils natoque<br>penatibus etmagnis dis partu</span>
					</div>
					<div layout="row" style="color:white;" layout-align="space around">
						<div layout="column">
						<span><span style="color:red;">m</span>Shaala</span>
						<span >#1508/A,25th Main,27th Cross Banshankari<br> 2nd Stage,Bangalore<br>-560085 karnataka</span>
						</div>
						<div layout="column"> 
						<span style="padding-left:220px;" >Subscribe for newsletter</span>
						<span style="padding-left:220px;">
							<div layout="row">
							<md-button class="md-icon-button" aria-label="Favorite">
								<ng-md-icon icon="email" style="fill:green" size="25"></ng-md-icon>
							</md-button>
							<input required type="email" name="clientEmail" ng-model="project.clientEmail"
								minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />
							<div ng-messages="projectForm.clientEmail.$error" role="alert">
							</div>
						</span>
						</div>
						<div layout="column">
						<span  style="padding-left:320px;">connect with us</span>
						 <div layout="row" style="padding-left:320px;">
							<md-button class="md-icon-button" aria-label="Favorite">
								<ng-md-icon icon="facebook-box" style="fill:blue" size="25"></ng-md-icon>
							</md-button>
							<md-button class="md-icon-button" aria-label="Favorite">
								<ng-md-icon icon="twitter" style="fill:skyblue" size="25"></ng-md-icon>
							</md-button>
							<md-button class="md-icon-button" aria-label="Favorite">
								<ng-md-icon icon="linkedin-box" style="fill:green" size="25"></ng-md-icon>
							</md-button>
					    </div>
						</div>
					</div>
					</div>
					<md-divider  style="background-color:Maroon;padding-top:5px"> </md-divider>
					</div>
					</md-card-content>
					</md-card>
				</div>
				</md-tab>
				
				<md-tab label="PRACTICAL">
        <md-content class="md-padding">
          <h1 class="md-display-2">Tab Two</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla venenatis ante augue. Phasellus volutpat neque ac dui mattis vulputate. Etiam consequat aliquam cursus. In sodales pretium ultrices. Maecenas lectus est, sollicitudin consectetur felis nec, feugiat ultricies mi. Aliquam erat volutpat. Nam placerat, tortor in ultrices porttitor, orci enim rutrum enim, vel tempor sapien arcu a tellus. Vivamus convallis sodales ante varius gravida. Curabitur a purus vel augue ultrices ultricies id a nisl. Nullam malesuada consequat diam, a facilisis tortor volutpat et. Sed urna dolor, aliquet vitae posuere vulputate, euismod ac lorem. Sed felis risus, pulvinar at interdum quis, vehicula sed odio. Phasellus in enim venenatis, iaculis tortor eu, bibendum ante. Donec ac tellus dictum neque volutpat blandit. Praesent efficitur faucibus risus, ac auctor purus porttitor vitae. Phasellus ornare dui nec orci posuere, nec luctus mauris semper.</p>
          <p>Morbi viverra, ante vel aliquet tincidunt, leo dolor pharetra quam, at semper massa orci nec magna. Donec posuere nec sapien sed laoreet. Etiam cursus nunc in condimentum facilisis. Etiam in tempor tortor. Vivamus faucibus egestas enim, at convallis diam pulvinar vel. Cras ac orci eget nisi maximus cursus. Nunc urna libero, viverra sit amet nisl at, hendrerit tempor turpis. Maecenas facilisis convallis mi vel tempor. Nullam vitae nunc leo. Cras sed nisl consectetur, rhoncus sapien sit amet, tempus sapien.</p>
          <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
        </md-content>
      </md-tab>
      <md-tab label="COURSE(16)">
        <md-content class="md-padding">
          <h1 class="md-display-2">Tab Three</h1>
          <p>Integer turpis erat, porttitor vitae mi faucibus, laoreet interdum tellus. Curabitur posuere molestie dictum. Morbi eget congue risus, quis rhoncus quam. Suspendisse vitae hendrerit erat, at posuere mi. Cras eu fermentum nunc. Sed id ante eu orci commodo volutpat non ac est. Praesent ligula diam, congue eu enim scelerisque, finibus commodo lectus.</p>
        </md-content>
      </md-tab>
				</md-tabs>
		</md-card>
	</md-content>
    
</div>
