<!DOCTYPE>
<html>
<head>
<title><%= title %></title>
</head>
<body>
<h1>Upload your csv file to create new course</h1>
<form id='uploadForm' enctype = "multipart/form-data" action="yes" method="post">
        <input type="file" name="userPhoto"/>
        <input type="submit" value="Upload File" name="submit"/>
    </form>
</body>
</html> 